@font-face {
   font-family: rick_and_morty;
   src: url(../src/assets/fonts/get_schwifty.ttf);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.App {
   text-align: center;
   font-family: rick_and_morty;
}
