.buttonClose{
    border-radius: 5px;
    padding: 3px 12px;
    background-color: rgb(224, 4, 4);
    color: white;
    cursor: pointer;
    font-size: 25px;
    transform: translateY(-2px);
}

.buttonClose:hover{
    background-color: white;
    color: red;
}

.cardContainer{
    display: flex;
    flex-direction: column;

    border: 2px solid rgb(129, 129, 129);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    /* background: linear-gradient(90deg, #c800ff, #ffffff, #001eff); */
    background-color: rgba(0, 0, 0, 0.849);
    background-size: 200% 200%;
    animation: animation 7s linear infinite;
}

.textDetail{
    /* animation: resplandor 4s ease-in-out infinite; */
    color: white;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

.textDetailTitle{
  font-size: 2.5rem;
}

h5{
  font-weight: 100;
}

.imgDetail{
    border-radius: 15px;
    border: 2px solid black;
    margin-top: 5px;
}

.btnFav{
  border-radius: 5px;
  padding: 1px 1px;
  margin: 2px 12px;
  font-size: 25px;
}

.btnFav:hover{
  transform: scale(1.5);
  background-color: #00ddff;
} 

.links{
  text-decoration: none;
}

@keyframes escalar {
  from{transform: scale(1);}
  to{transform: scale(1.1);}
}

.links h1:hover{
  animation: escalar .5s;
  animation-fill-mode: forwards;
}



@keyframes animation {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
  }

  @keyframes resplandor {
    0% {
      text-shadow: 0 0 10px rgba(255, 0, 0, 0.987);
    }
    50% {
      text-shadow: 0 0 10px rgb(0, 0, 0);
    }
    75% {
      text-shadow: 0 0 10px rgb(238, 255, 0);
    }
    100% {
      text-shadow: 0 0 10px #88ff00;
    }
  }

  @keyframes square-in-center {
    from {
      clip-path: inset(100% 100% 100% 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:square:center"] {
    animation: 1.5s cubic-bezier(.25, 1, .30, 1) square-in-center both;
  }

  .cardInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
  }