.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;
    width: 15em;
    object-fit: contain;
    border-radius: 15px;
}

.formContainer{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-left: 10rem;
    margin-right: 10rem;
}


.form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    padding-bottom: 15px;
}

label:first-of-type{
    margin-top: 10px;
}

span{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}

.imagen {
    width: 50%;
    object-fit: contain;
    padding-top: 30px;
    border-radius: 50px;
}

button {
    background-color: rgb(160, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    padding: 4px 35px;
    font-size: large;
}

button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 1, 1);
}

input {
    outline: none;
    border-radius: 10px;
    width: 30vh;
    height: 5vh;
}

.error{
    border-color: red;
    background-color: rgb(253, 141, 141);
}

.errorText{
    text-shadow: 2px 2px 1px black;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif
}

.success{
    border-color: green;
    background-color: rgba(176, 253, 132, 0.954);
}

.inputLabel{
    text-shadow: -2px 1px black;
    /* transform: translateX(-50px); */
    font-size: 25px;
    text-align: center;
}

.loginBanner{
    text-shadow: 2px 2px 4px black;
    text-align: center;
    margin-bottom: 0px;
    font-size: 10vh;
}

p{
    color: aliceblue;
    margin-bottom: 0px;
    font-family:'Times New Roman', Times, serif
}

.btnSubmit{
    background-color: rgb(42, 182, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    padding: 4px 35px;
    font-size: large;
}

.btnSubmit:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(42, 182, 0);
}