.navSearch{
    background: linear-gradient(90deg, #c800ff, #ffffff, #001eff) ;
    border: 2px solid #ffffff;
    border-radius: 5px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.randomButton{
    margin: 10px 100px;
    background: linear-gradient(90deg, #ff2600, #01be01, #001eff);
    color: #ffffff;
    border-radius: 5px;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    /* animation: animation 10s linear infinite; */
    animation-name: slide;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes slide {
  0% {transform: translateX(0);}
  50% {transform: translateX(20px);}
  100% {transform: translateX(0);}
}



.randomButton:hover{
    animation-name: surprise;
        -webkit-animation-name: surprise;
        -moz-animation-name: surprise;
    animation-duration: .8s;
        -webkit-animation-duration: .8s;
        -moz-animation-duration: .8s;
}

    @keyframes surprise
    {
        0% {transform: rotate(0deg) scale(1,1);;}
        10% {transform: rotate(7deg) scale(2,2);}
        20% {transform: rotate(-7deg) scale(2,2);}
        30% {transform: rotate(7deg) scale(2,2);}
        40% {transform: rotate(-7deg) scale(2,2);}
        50% {transform: rotate(7deg) scale(2,2);}
        60% {transform: rotate(-7deg) scale(2,2);}
        70% {transform: rotate(7deg) scale(2,2);}
        80% {transform: rotate(-7deg) scale(2,2);}
        90% {transform: rotate(7deg) scale(2,2);}
        100% {transform: rotate(0deg) scale(1,1);}
    }

    @keyframes animation {
        0% {
          background-position: 0% 100%;
        }
        50% {
          background-position: 100% 0%;
        }
        100% {
          background-position: 0% 100%;
        }
      }

.linksNav{
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content:space-evenly;
 align-content: flex-start;
 margin: auto;
}

.links {
  color: rgb(0, 252, 185);
  font-size: 25px;
  padding: 0px 25px;
  text-decoration: none;
  text-shadow: -2px 2px black;
}

@keyframes escalar {
  from{transform: scale(1);}
  to{transform: scale(1.5);}
}

.links:hover{
  animation: escalar .5s;
  animation-fill-mode: forwards;
}

button{
  display: inline-flex;
}